@import 'variables';
@import 'Countdown';
@import 'Elves';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'SF Pro display', sans-serif, inter;
  color: $white;
}

body{
  background: $bg;
}
.top{
  height:100vh;
  background-image: url('../bg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  overflow-x: auto;
}

header{
  width: 100%;
  padding: 20px 20px;
  background: #1e1e1e50;
  backdrop-filter: blur(20px);
}

.container{
  background:#1e1e1eaa;
  backdrop-filter: blur(20px);
  width:700px;
  margin: 25vh auto;
  border-radius:50px;
  padding-top:25px;
  padding-bottom: 25px;
}
.title{
  width:100%;
  text-align: center;
  display:flex;
  flex-direction: column;
  span{
    color: $red;
  }
  button{
    all: unset;
    margin-top: 32px;
    font-weight: 100;
    text-decoration: none;
    font-size: 1.2rem;
    cursor:pointer;
    &:hover{
      text-decoration: underline;
    }
    opacity: 0.8;
  }
}
