.countdown{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  h2{
    text-align: center;
    font-weight: 100;
  }
  .countdown-container{
    display:flex;
    justify-content: space-between;
    .time{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 25px 25px;
      font-weight: 100;
      p{
        &:first-child{
          font-size: 2.5rem;
          margin-bottom: 10px;
            animation: rollout 0.4s;
        }
        &:last-child{
          font-size: 1.5rem;
          
        }
      }
        }
  }
}
