.interraction{
  display:none;
  margin: -80px 0 0 100px;
  position:absolute;
  background:white;
  padding:8px;
  border-radius:5px;
  z-index:700;
    p{
      color: $bg;
    }
    .button{
      height:50%;
      &:hover{
        p{
          text-decoration: underline;
        }
      }
      &:nth-child(1){
        margin-bottom: 8px;
      }
    }
}


.listContainer {
  width: 80%;
  margin: 25vh auto;
  background: #1e1e1eaa;
  backdrop-filter: blur(20px);
  border-radius: 50px;
  height: 100vh;
  padding: 16px;
  h2{
    margin-top: 50px;
    text-align: center;
  }

  .addEntry {
    width: 100%;
    background: $red;
    border-radius: 35px;
    padding:32px;
    .text{
      p{
        font-size: 1.5rem;
        font-weight: 800;
      }
      span{
        font-size: 0.9rem;
        opacity:0.8;

      }
    }
    .interract{
      margin-top:16px;
      .add{
        
        input{
          all: unset;
          &::placeholder{
            color: white;
            opacity: 0.6;
          }
        }
        button{
          all:unset;
          cursor:pointer;
        }
      }
    }
    }
  .list{
    margin-top: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }
  .item{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .itemInfo{
      display:flex;
      align-items: center;
      .img{
        width:60px;
        height:60px;
        border-radius: 50%;
        background: #1e1e1eaa;
        font-size:40px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right:16px;
      }
      .text{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        p{
          font-weight: 700;
          line-height: 25px;
        }
        span{
          font-weight: 100;
        }
      }
    }
  }
  .itemInterract{
    display:flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.192);
    border-radius: 50%;
    cursor:pointer;
    transition: all 0.15s ease 0s;
    &:hover{
      .dot{
        opacity: 0.6;
      }
      .interraction{
        display: block;
      }
      background:rgba(255, 255, 255, 0.062)
    }
    .dot{
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
      transition: all 0.15s ease 0s;
      &:nth-child(2){
        margin: 0 4px;
      }
    }
  }
}

input{
  all: unset;
  opacity:0.7;
  &:nth-child(1){
    line-height:25px;
  }
  &::placeholder{
    color: white;
    opacity: 0.6;  }
}

.editButton{
  font-weight:100;
  transition: all 0.3s ease 0s;

  
  cursor:pointer;
  &:hover{
    text-decoration: underline;
    color: #77ffa0;
  }
}
